/* Reset styles for shadcn/ui */
@layer base {
  html {
    overflow: hidden;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    overflow: hidden;
  }
}
